@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&display=swap');
* {
  box-sizing: border-box;
}

html, body {

  background-color: #F1F1F1;
  margin: 0%;

  
} 

.main{

  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'PT Sans', sans-serif;
  display: flex;
}


#background{
  width: 100vw;
}
#sidebar {
  width: 100%;
  margin: auto;
  position: relative;
  padding: 0px 20px 0px 20px;
  font-size: 15px;
  height: 30vh;
}
#instructions{
  font-size: 14px;
  width: 90%;
  margin: auto;
  
}
.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.5rem;
  justify-content: space-between;
  padding: 5px 0px 5px 0px;
  width: 85%;
  margin: auto;
  color: #000000;
}


.title {
  margin: 0.5rem 0 0;
  text-transform: uppercase;
  font-family: montserrat;
  font-size: 20px;
  cursor: pointer;
}

pre {
  margin: 0;
  padding-left: 20px;
}

code {
  padding: 0 2px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
}

li {
  line-height: 1.5;
}

a {
  color: rgba(255, 255, 255, 0.7);
}

a:hover {
  color: #fff;
}

.help {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.tooltip {
  position: absolute;
  display: inline-block;
  max-width: 350px;
  padding: 1em 1em;
  background-color: grey;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  z-index: 60;
}

.tooltip:after {
  content: '';
  position: absolute;
  top: -12px;
  left: 12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid grey;
}

#share {
  display: none;
  margin-bottom: 3em;
  text-align: center;
}

.fb-like {
  z-index: 20;
  vertical-align: top;
}

.next {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 1em;
  text-decoration: none;
  background-size: cover;
}

.next div {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.next button {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Fredoka One', cursive;
  font-weight: bold;
  text-transform: uppercase;
}

.next button:hover {
  color: rgba(255, 255, 255, 1);
}




#instructions {
  padding-top: 1rem;
}

#instructions,
#instructions p,
#instructions ul {
	/* helps prevent the difficulty animation from jumping */
	margin: 0;
  padding-bottom: 1em;
}
#instructions ul{
  display: flex;
}

#editor {
  position: relative;
}

#editor,
pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

#css {
  height: 135px;
  position: relative;
  padding: 10px 10px 10px 40px;
  background-color:#CDD0C8;
  border-radius: 4px;
  overflow: hidden;
}

.line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 6px;
  text-align: right;
  background-color: #34372F;
  color: white;
  width: 50px;
  height: 135px;
}

#code {
  display: block;
  width: calc(100% - 16px);
  height: 24px;
  margin-left: 16px;
  border: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  outline: none;
  resize: none;
  overflow: auto;
}
cd{
  color: maroon;
  font-weight: bolder ;
}
#level-counter {
  position: relative;
  display: inline-block;
  height: 30px;
  margin-top: 0.5rem;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
  background-color: #CDD0C8;
  border-radius: 10px;
}

#levelsWrapper {
  display: none;
  top: 30px;
  right: 31px;
  max-width: 160px;
  padding: 1em 0.5em;
  margin-top: 12px;
  z-index: 80;
}

#levelsWrapper:after {
  left: calc(50% - 12px);
}

#levels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.level-marker {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 2px;
  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.level-marker.current,
.level-marker:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.level-marker.solved {
  background-color: #228B24;
}

#level-indicator,
.arrow {
  float: left;
  height: 30px;
  background-color: #CDD0C8;
}

#level-indicator {
  display: inline-block;
  width: 160px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

#labelLevel {
  margin-left: 5px;
}

.caret {
  display: inline-block;
  margin-left: 2px;
}

#level-indicator:hover,
.arrow:not(.disabled):hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#labelReset {
  margin-top: 1em;
  text-align: center;
  cursor: pointer;
}

.arrow {
  display: inline-flex;
  align-items: center;
  padding: 0.25em 0.5em 0.2em;
  cursor: pointer;
}


.arrow.left {
  border-right: 1px solid black;
  border-radius: 4px 0 0 4px;
}

.arrow.right {
  border-left: 1px solid black;
  border-radius: 0 4px 4px 0;
}

.arrow.left:not(.disabled):hover,
.arrow.right:not(.disabled):hover {
  border-color: transparent;
}

.arrow.disabled {
  opacity: 0.5;
}

.triangle {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
}

.left .triangle {
  border-right: 11px solid black; 
}

.right .triangle {
  border-left: 11px solid black; 
}
.foot{
  color:black;
}
button {
  display: inline-block;
  padding: 5px;
  background-color: #D11606;
  border: none;
  border-radius: 30px;
  font-family: montserrat;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100px;

}

button:active {
  outline: none;
}

button:not(.disabled):hover {
  background-color: #F12D22;
}

#next {
  right: 3em;
  bottom: 1em;
  padding-top: 0.3em;
  margin-left: 35%;
}
.next-btn{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  align-items: flex-end;
}

#next.disabled {
  opacity: 0.5;
}

.credits {
  margin-top: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

#settings {
  position: relative;
}

.toggle {
  display: inline-block;
  padding: 1px 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  user-select: none;
}

#settings .tooltip {
  display: none;
  bottom: 30px;
  left: 0px;
  width: 275px;
  max-width: 275px;
  padding: 1em;
  text-align: left;
  z-index: 80;
}

#settings .tooltip:after {
  top: auto;
  bottom: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #2c3e50;
  border-bottom: none;
}

#settings section {
  margin: 0.5rem 0;
}

#settings h4 {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
}

#board {
  position: sticky;
  top: 0;
  width: 100%;
  height: 58vh;
  overflow: hidden;
  margin: auto;
}

#scene,
#background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

#background {
  z-index: 10;
  background-color: #CDD0C8;
  ;

}

#scene {
  z-index: 20;
}

.bowl,
.bean {
  position: relative;
  width: 10%;
  height: 20%;
  overflow: hidden;
}


.bowl .bg,
.bean .bg {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.bean .bg{
  background-size: 70%;
}

.bowl.green .bg {
  background-image: url("../images/lilypad-green.png");
}

.bowl.green.cb-friendly .bg {
  background-image: url("../images/lilypad-green-color-assist.png");
}

.bowl.red .bg {
  background-image: url("../images/lilypad-red.png");
}

.bowl.red.cb-friendly .bg {
  background-image: url("../images/lilypad-red-color-assist.png");
}

.bowl.yellow .bg {
  background-image: url("../images/lilypad-black.png");
}
.bowls.yellow.cb-friendly .bg {
  background-image: url("../images/lilypad-black-color-assist.png");
}

.bean.green .bg {
  background-image: url("../images/bean-green.png");
}

.bean.green.cb-friendly .bg {
  background-image: url("../images/bean-green-color-assist.png");
}

.bean.red .bg {
  background-image: url("../images/bean-red.png");
}

.bean.red.cb-friendly .bg {
  background-image: url("../images/bean-red-color-assist.png");
}

.bean.yellow .bg {
  background-image: url("../images/bean-black.png");
}

.bean.yellow.cb-friendly .bg {
  background-image: url("../images/bean-black-color-assist.png");
}

.wrap {
  flex-wrap: wrap;
}

p{
  color: black;
}
.foot span{
  color:maroon;
  cursor: pointer;
}
.line-numbers hr{
  margin: 0;
  opacity: 30%;
  height: 0.1px;
}

@media screen and (max-width:1024px) {
  body {
    margin: 20px;
  }

  body,
  #sidebar {
    font-size: 13px;
  }

  .title {
    font-size: 26px;
  }

}



@media screen and (max-width:670px) {
  
  #board{
    height: 40vh;
  }
  
  .header{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 10px;
  }
  #sidebar{
    padding: 0px;
  }

  #instructions{
    font-size: 10px;
  }
  #editor, pre{
    font-size: 12px;
  }
  .next-btn{
    font-size: 12px;
    display: flex;
    flex-direction: column-reverse;
  }
  .next-btn div{
    width: 100%;
    text-align: center;
  }
  #css{
    height: 115px;
    padding: 10px 10px 10px 30px;
  }
  #next{
    height: 25px;
    padding: 0px;
    margin-bottom: 10px;
  }
  #code{
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
    margin: 0px;
  }
  .line-numbers{
    width: auto;
  }
  .line-numbers hr{
    padding: 0px;
    margin: 0px;
  }
  .foot{
    font-size: 10px;
  }
  #level-counter{
    height: 20px;
  }
  #level-indicator{
        width: 80px;
        font-size: 11px;
        line-height: 20px;
  }
  #level-indicator, .arrow {
    height: 20px;
}
.header{
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 0px;
}
.title{
  margin: 0%;
  font-size: 16px;
  background-color: #CDD0C8;
  padding: 15px;
}
.head{
  width: 100%;
 
}
body{
  margin: 0px;
  box-sizing: border-box;
}
#view, #sidebar{
  margin: 0px 20px 0px 20px;
}
#code{
  height: 24px !important;
}
.tooltip{
  width: 350px;
}
#levelsWrapper{
  right: -10px;
  margin-top: 5px;
}
pre{
  padding: 0px;
}
}