

header{
    margin-bottom: 20px;
}
.thumb{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: maroon;
    font-weight: unset;
    font-size: 50px;
}

.down p{
    text-align: center;
    padding-top: 20px;
}
#home{
    height: 25px;
    color: white;
    width: 30px;
}
.box3{
    width: 100%;
    justify-content: center;
}
#button1{
    width: 100px;
    margin-right: 50px;
}
@media screen and (max-width:700px) {
    .container{
        background-color: #DFE0DB !important;
        height: 100vh;
    }
    header{
        background-color: #CDD0C8;
    }
    .thumb{
        margin-top: 120px ;
        margin-bottom: 20px;
    }
    .thumb img{
        width: 130px;
    }
    h1{
        font-size: 28px;
    }
    p{
        font-size: 12px;
    }
    .box3{
        margin-top: 20px;
        width: 80%;
    }
    .down p{
        padding-top: 10px;
    }
    #button1{
        justify-content: center;
        width: 80px;
        margin-right: 20px;
        
    
    }
    #button1 img{
        height: 20px;

    }

    footer{
        height: 20vh;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
}
